:root {
    --primary-color: #e94f37;
    --secondary-color: #393e41;
    --additional-color: #f6f7eb;

    --error-color: rgb(224, 14, 14);

    --font-family: TT Commons, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --rem: 16px;
    --additional-color: #f6f5f1;
}

body {
    background-color: var(--additional-color);
}

html {
    font-size: var(--rem);
    font-family: var(--font-family);
}